:root {
  --color-grey-light-1: #f0f1ec;
  --color-grey-dark-2: #0f222e;
  --color-black: #000;
  --color-white: #fff;
  --font-primary: "Nunito", sans-serif;
}
.dark-theme {
  --color-grey-light-1: #22303c;
  --color-grey-dark-2: #fff;
  --color-black: #fff;
  --color-white: #22303c;
  --font-primary: "Nunito", sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--color-white);
}
#themeToggle {
  margin-left: 1rem;
  cursor: pointer;
  appearance: none;
  margin-right: 0.5rem;
  position: relative;
  transition: background-color 0.3s ease;

  &:checked {
    background-color: var(--color-grey-dark-2);
  }
}
.theme__Toggle{
  background-color: var(--color-grey-light-1);
  padding: .5rem 1.2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  margin-left: -2rem;
}
iframe {
  max-width: 100%;
  border: 0;
}
