.section__review{
    padding: 5rem;
}
.review{
    display: flex;
    &__image{

        &__bar{
            flex: 0 0 40%;
            height: 38rem;
            width: 40rem;
            border-radius:  1rem 0 0 1rem;
        }
    }
    &__content{
        flex: 1;
        background-color: var( --color-grey-dark-2);
        color: var(--color-grey-light-1);
        padding: 7rem 5rem;
        border-radius:  0rem 1rem 1rem 0rem;
        &__P{
            margin-bottom: 3rem;
            font-size: 1.6rem;
        }
        &__H{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        &-p{
            font-size: 1.3rem;
        }
    }
}